.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    gap: 10px;
    position: absolute;
    width: 350px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.label,
.addressLabel,
.countryLabel,
.stateAndPostcodeLabel {
    font-weight: 500;
    font-size: 14px;
    line-height: 8px;
    padding-left: 2px;
}

.addressInput,
.countryInput,
.stateAndPostcodeInput {
    font-size: 16px;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    border: 1px #D4D4D4 solid;
}

.countryLabel,
.stateAndPostcodeLabel {
    margin-bottom: 5px;
}

.stateAndPostcodeSection {
    display: flex;
    flex-direction: row;
}

.stateAndPostcodeContainer {
    width: 50%;
}

.callToActionContainer {
    direction: ltr;
    display: flex;
    justify-content: space-between;
}

.button {
    height: 40px;
    width: 170px;
    border-radius: 3px;
}

.customSelect {
    width: 102%;
    display: flex;
    flex-direction: column;
}
